$bgColorMiddle:  rgb(60,	130,	249);
.middle-main {
    background-color: $bgColorMiddle;
    
}
.middle-main a {
    font-weight: lighter;
    font-size: 10px;
    white-space: nowrap; 
}


.middle-main img{
    width: 30px;
   
}